In [5]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [ ]:
todas_tablas= pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
todas_tablas[61]

In [15]:
for letra, i in zip(alfabeto, range(12, 68, 7)):
    print(letra, i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [6]:
todas_tablas= pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

grupo_tablas = {}
for letra, i in zip(alfabeto, range(12, 68, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    grupo_tablas[f"Grupo {letra}" ] = df

In [7]:
grupo_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [12]:
grupo_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [21]:
with open('grupo_tablas', 'wb') as output:
    pickle.dump(grupo_tablas, output)