In [1]:
import pandas as pd

In [2]:
df_historical_data = pd.read_csv('../data/fifa_worldcup_historical_data.csv')
df_fixture = pd.read_csv('../data/fifa_worldcup_fixture.csv')

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [4]:
df_fixture

                home     score              away  year
0              Qatar   Match 1           Ecuador  2022
1            Senegal   Match 2       Netherlands  2022
2              Qatar  Match 18           Senegal  2022
3        Netherlands  Match 19           Ecuador  2022
4            Ecuador  Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

In [5]:
df_historical_data[df_historical_data['home'].str.contains('Sweden') & df_historical_data['away'].str.contains('Austria')].index

Index([37], dtype='int64')

In [6]:
delete_index = df_historical_data[df_historical_data['home'].str.contains('Sweden') & df_historical_data['away'].str.contains('Austria')].index

In [7]:
df_historical_data.drop(index=delete_index, inplace=True)

In [8]:
df_historical_data['home'] = df_historical_data['home'].str.strip()
df_historical_data['away'] = df_historical_data['away'].str.strip()

In [9]:
df_historical_data

          home         score     away  year
0       France           4–1   Mexico  1930
1    Argentina           1–0   France  1930
2        Chile           3–0   Mexico  1930
3        Chile           1–0   France  1930
4    Argentina           6–3   Mexico  1930
..         ...           ...      ...   ...
860     Russia  2–2 (a.e.t.)  Croatia  2018
861     France           1–0  Belgium  2018
862    Croatia  2–1 (a.e.t.)  England  2018
863    Belgium           2–0  England  2018
864     France           4–2  Croatia  2018

[864 rows x 4 columns]

In [10]:
# df_historical_data[df_historical_data['score'].str.contains('[^\d—]')]
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\d—]', '', regex=True)

In [16]:
df_historical_data['score']= df_historical_data['score'].str.split('—', expand=True)

In [18]:
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].apply(lambda x:pd.Series([int(x[0]), int(x[1])]))

In [20]:
df_historical_data.drop('score', axis=1, inplace=True)

In [21]:
df_historical_data.rename(columns={'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace=True)

In [22]:
df_historical_data.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals     int64
AwayGoals     int64
dtype: object

In [23]:
df_fixture.dtypes

home     object
score    object
away     object
year      int64
dtype: object

In [25]:
df_historical_data.to_csv('clean_fifa_worldcup_data_historical_data.csv', index=True)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index=True)

In [24]:
years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970,
        1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006,
        2010, 2014, 2018]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 16
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64