In [13]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [16]:
all_tables= pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

tables_group = {}
for letter, i in zip(alphabet, range(12, 68, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    tables_group[f"Group {letter}" ] = df

In [17]:
tables_group.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [18]:
tables_group['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [23]:
with open('tables_group', 'wb') as output:
    pickle.dump(tables_group, output)