In [1]:
import pandas as pd
import pickle
from scipy.stats import poisson

from datos_2026 import grupo_tablas

In [2]:
dict_table = pickle.load(open('../data/grupo_tablas', 'rb'))
df_historical_data = pd.read_csv('../data/clean_fifa_worldcup_historical_data.csv')
df_fixture = pd.read_csv('../data/clean_fifa_worldcup_fixture.csv')

CALCULAR TEAM STRENGTH

In [6]:
df_historical_data

      HomeTeam AwayHome  Year  HomeGoals  AwayGoals
0       France   Mexico  1930          4          1
1    Argentina   France  1930          1          0
2        Chile   Mexico  1930          3          0
3        Chile   France  1930          1          0
4    Argentina   Mexico  1930          6          3
..         ...      ...   ...        ...        ...
859     Russia  Croatia  2018          2          2
860     France  Belgium  2018          1          0
861    Croatia  England  2018          2          1
862    Belgium  England  2018          2          0
863     France  Croatia  2018          4          2

[864 rows x 5 columns]

In [7]:
# dividir df en df_home y df_away
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]

In [9]:
df_away = df_historical_data[['AwayHome', 'HomeGoals', 'AwayGoals']]
df_away

    AwayHome  HomeGoals  AwayGoals
0     Mexico          4          1
1     France          1          0
2     Mexico          3          0
3     France          1          0
4     Mexico          6          3
..       ...        ...        ...
859  Croatia          2          2
860  Belgium          1          0
861  England          2          1
862  England          2          0
863  Croatia          4          2

[864 rows x 3 columns]

In [10]:
# renombrar columnas
df_home= df_home.rename(columns={'HomeTeam': 'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals': 'GoalsConceded'})
df_away = df_away.rename(columns={'AwayHome': 'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals': 'GoalsScored'})

In [14]:
# concatenar df_home y df_away, agruparlos por team y obtener promedio
df_teamm_strengh = pd.concat([df_home, df_away], ignore_index=True).groupby('Team').mean()

In [15]:
df_teamm_strengh

              GoalsScored  GoalsConceded
Team
Algeria          1.000000       1.461538
Angola           0.333333       0.666667
Argentina        1.717949       1.166667
Australia        0.812500       1.937500
Austria          1.576923       1.692308
...                   ...            ...
Uruguay          1.603774       1.339623
Wales            0.800000       0.800000
West Germany     2.050847       1.254237
Yugoslavia       1.633333       1.233333
Zaire            0.000000       4.666667

[84 rows x 2 columns]

In [16]:
df_team_strength = df_teamm_strengh

Función predict_points

In [18]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lambda_home = df_team_strength.at[home, 'GoalsScored'] * df_team_strength.at[away, 'GoalsConceded']
        lambda_away = df_team_strength.at[away, 'GoalsScored'] * df_team_strength.at[home, 'GoalsConceded']
        prob_home, prob_away, prob_draw = 0,0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0, 11): #number of goals away team
                p = poisson.pmf(x, lambda_home) * poisson.pmf(y, lambda_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p

        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0, 0)

Testear función

In [43]:
# Testear con partidos: Argentina - Mexico, England - United States, Qatar (H) - Ecuador
predict_points('Argentina', 'Mexico')
predict_points('England', 'United States')
predict_points('Qatar (H)', 'Ecuador')
predict_points('Argentina', 'Canada')

(np.float64(2.8852405010653714), np.float64(0.05708306089007793))

Fases de Grupo

In [22]:
# dividiendo fixture en grupo, octavos, cuartos..
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [26]:
dict_table.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [28]:
for group in dict_table:
    print(dict_table[group]['Team'].values)

['Qatar (H)' 'Ecuador' 'Senegal' 'Netherlands']
['England' 'Iran' 'United States' 'Wales']
['Argentina' 'Saudi Arabia' 'Mexico' 'Poland']
['France' 'Australia' 'Denmark' 'Tunisia']
['Spain' 'Costa Rica' 'Germany' 'Japan']
['Belgium' 'Canada' 'Morocco' 'Croatia']
['Brazil' 'Serbia' 'Switzerland' 'Cameroon']
['Portugal' 'Ghana' 'Uruguay' 'South Korea']

In [31]:
# correr todos los partidos de la fase de grupo y actualizar las tablas de cada grupo
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away

    dict_table[group] = dict_table[group].sort_values('Pts', ascending=False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [53]:
# mostrar tabla actualizada
for group in dict_table:
    print(group)

Grupo A
Grupo B
Grupo C
Grupo D
Grupo E
Grupo F
Grupo G
Grupo H

Octavos

In [40]:
# octavos: df_fixture_knockout
df_fixture_knockout

               home     score                away  year
48  Winners Group A  Match 49  Runners-up Group B  2022
49  Winners Group C  Match 50  Runners-up Group D  2022
50  Winners Group D  Match 52  Runners-up Group C  2022
51  Winners Group B  Match 51  Runners-up Group A  2022
52  Winners Group E  Match 53  Runners-up Group F  2022
53  Winners Group G  Match 54  Runners-up Group H  2022
54  Winners Group F  Match 55  Runners-up Group E  2022
55  Winners Group H  Match 56  Runners-up Group G  2022

In [55]:
dict_table.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [56]:
llaves_modificadas = [key.replace('Grupo', 'Group').strip() for key in dict_table.keys()]
llaves_modificadas

['Group A',
 'Group B',
 'Group C',
 'Group D',
 'Group E',
 'Group F',
 'Group G',
 'Group H']

Modifique las llaves

In [57]:
for key in list(dict_table.keys()):
    new_key = key.replace('Grupo', 'Group').strip()
    dict_table[new_key] = dict_table.pop(key)

In [59]:
# Actualizar el fixture de octavos con el 1 puesto (group winner) y 2 puesto (runners up)
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winners {group}': group_winner, f'Runners-up {group}': runners_up}, inplace=True)

df_fixture_knockout['winner'] = '?'
df_fixture_knockout

           home     score         away  year winner
48  Netherlands  Match 49        Wales  2022      ?
49    Argentina  Match 50      Denmark  2022      ?
50       France  Match 52       Poland  2022      ?
51      England  Match 51      Senegal  2022      ?
52      Germany  Match 53      Belgium  2022      ?
53       Brazil  Match 54      Uruguay  2022      ?
54      Croatia  Match 55        Spain  2022      ?
55     Portugal  Match 56  Switzerland  2022      ?

In [62]:
# crear una función get_winner
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away= predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner

    return df_fixture_updated

In [63]:
get_winner(df_fixture_knockout)

           home     score         away  year       winner
48  Netherlands  Match 49        Wales  2022  Netherlands
49    Argentina  Match 50      Denmark  2022    Argentina
50       France  Match 52       Poland  2022       France
51      England  Match 51      Senegal  2022      England
52      Germany  Match 53      Belgium  2022      Germany
53       Brazil  Match 54      Uruguay  2022       Brazil
54      Croatia  Match 55        Spain  2022      Croatia
55     Portugal  Match 56  Switzerland  2022     Portugal

CUARTOS DE FINAL

In [65]:
# crear una función update_table

def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}': winner}, inplace=True)
    df_fixture_round_2['winner'] = '?'
    return df_fixture_round_2

In [66]:
update_table(df_fixture_knockout, df_fixture_quarter)

           home     score       away  year winner
56      Germany  Match 58     Brazil  2022      ?
57  Netherlands  Match 57  Argentina  2022      ?
58      Croatia  Match 60   Portugal  2022      ?
59      England  Match 59     France  2022      ?

In [67]:
get_winner(df_fixture_quarter)

           home     score       away  year       winner
56      Germany  Match 58     Brazil  2022       Brazil
57  Netherlands  Match 57  Argentina  2022  Netherlands
58      Croatia  Match 60   Portugal  2022     Portugal
59      England  Match 59     France  2022       France

SEMIFINAL

In [68]:
update_table(df_fixture_quarter, df_fixture_semi)

           home     score      away  year winner
60  Netherlands  Match 61    Brazil  2022      ?
61       France  Match 62  Portugal  2022      ?

In [69]:
get_winner(df_fixture_semi)

           home     score      away  year  winner
60  Netherlands  Match 61    Brazil  2022  Brazil
61       France  Match 62  Portugal  2022  France

FINAL

In [70]:
update_table(df_fixture_semi, df_fixture_final)

               home     score             away  year winner
62  Losers Match 61  Match 63  Losers Match 62  2022      ?
63           Brazil  Match 64           France  2022      ?

In [71]:
get_winner(df_fixture_final)

               home     score             away  year           winner
62  Losers Match 61  Match 63  Losers Match 62  2022  Losers Match 62
63           Brazil  Match 64           France  2022           Brazil